$z01: 100;
$z02: 200;
$z03: 300;
$z04: 400;
$z05: 500;
$z06: 600;
$z07: 700;
$z08: 800;
$z09: 900;
$z10: 1000;
$z11: 1100;
$z12: 1200;
$z13: 1300;
$z14: 1400;
$z15: 1500;
$z16: 1600;
$z17: 1700;
$z18: 1800;
$z19: 1900;
$z20: 2000;
$z21: 2100;
$z22: 2200;
$z23: 2300;
$z24: 2400;
$z-top: 2147483647;
$z-header: 400;

/* DIFFERENT Z-INDEXES AND THEIR USAGE
/// Never go heighr than 2148483647
/// Browsers render that level differently

|--------------------------------------------------------------------|
| Elevation Range | Components                                       |
|--------------------------------------------------------------------|
| 000 - 199       | Switch                                           |
|--------------------------------------------------------------------|
| 200 - 299       | Quick entry / Search bar (resting elevation)     |
|                 | Raised button (resting elevation)                |
|                 | Card (resting elevation)                         |
|--------------------------------------------------------------------|
| 300 - 399       | Refresh indicator                                |
|                 | Quick entry / Search bar (scrolled state)        |
|--------------------------------------------------------------------|
| 400 - 599       | App bar                                          |
|--------------------------------------------------------------------|
| 600 - 799       | Floating action button (FAB - resting elevation) |
|                 | Snackbar                                         |
|--------------------------------------------------------------------|
| 800 - 899       | Bottom navigation bar                            |
|                 | Menu                                             |
|                 | Card (when picked up)                            |
|                 | Raised button (pressed state)                    |
|--------------------------------------------------------------------|
| 900 - 1199      | Sub menu (+10 for each sub menu)                 |
|--------------------------------------------------------------------|
| 1200 - 1599     | Floating action button (FAB - pressed)           |
|--------------------------------------------------------------------|
| 1600 - 2399     | Nav drawer                                       |
|                 | Right drawer                                     |
|                 | Modal bottom sheet                               |
|--------------------------------------------------------------------|
| 2400 - 2499     | Dialog                                           |
|                 | Picker                                           |
|                 | Modal                                            |
|--------------------------------------------------------------------|

*/
