<gpcl-nav-overlay>
  <span gpcl-nav-Overlay-header-title>Assignment</span>
  <a mat-button color="primary" gpcl-nav-overlay-header-action>Create Assignment</a>
  <mat-dialog-content gpcl-nav-overlay-content>
    <gpcl-nav-overlay-list-item *ngFor="let assignment of assignments; let i = index">
      <span gpcl-list-item-title>{{assignment.title}}</span>
      <span gpcl-list-item-right-sub-text>{{assignment.time}}</span>
      <a *ngIf="assignment.customerAccount" gpcl-list-item-title-sub-text>{{assignment.customerAccount.firstName}}</a>
      <gpcl-nav-overlay-description>
        {{ (descriptions[i].descriptionText.length > 100 && !descriptions[i].isSeeMore) ?
        (descriptions[i].descriptionText | slice: 0 : 100 ) + '...' : (descriptions[i].descriptionText) }}
        <a *ngIf="descriptions[i].descriptionText.length > 100" (click)="descriptions[i].isSeeMore =! descriptions[i].isSeeMore">
          Show <span *ngIf="descriptions[i].isSeeMore">Less</span><span *ngIf="!descriptions[i].isSeeMore">More</span>
        </a>
      </gpcl-nav-overlay-description>
    </gpcl-nav-overlay-list-item>
  </mat-dialog-content>
  <mat-dialog-actions gpcl-nav-overlay-actions>
    <button mat-stroked-button [matDialogClose]="true" color="primary">View/manage All</button>
  </mat-dialog-actions>
</gpcl-nav-overlay>