/* You can add global styles to this file, and also import other style files */
@import '_sizes.scss';
@import '_reset.scss';
@import '_site-frame.scss';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
.mat-form-field-flex {
  border: 1px solid rgba(255, 255, 255, 0.68) !important;
  border-radius: 3px;
}
