<div class="gpcl--site-frame">
  <gps-app-main-nav [appsSidebar]="appsSidebar" [reminders]="employeeAccount.reminders" [assignments]="employeeAccount.assignments"></gps-app-main-nav>
  <mat-sidenav-container class="gpcl--main-body-content">
    <mat-sidenav role="navigation" class="sidebar-nav-container" #appsSidebar mode="side" fixedTopGap="64">
      <gps-apps-sidebar [employeeName]="getFullname()" [employeeRole]="employeeAccount.accessLevel" [globalProducts]="employeeAccount.globalProducts"
        [adminProducts]="employeeAccount.AdminProducts">
      </gps-apps-sidebar>
    </mat-sidenav>
    <mat-sidenav-content role="main">
      <!-- Sub Menu -->
      <button (click)="openDialog(appsSidebar)" mat-button color="primary">some button</button>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>